*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
.nav a
{
    color: black;
    font-size: 18px;
    font-weight: 400;
    /* font-family: roboto; */
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.header
{
    background: url(img/Frame.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 604px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text
{
    margin: auto;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
.header-text h1
{
    font-weight: 400;
    font-size: 53px;
    color: white;
font-family: 'Roboto', sans-serif;
}
.header-text h2
{
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding: 15px 0px;
    font-family: 'Roboto', sans-serif;
}
.header-text a
{
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    /* font-family: roboto; */
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.header2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}
.header2 h1{
    font-weight: 400;
    /* font-family: roboto; */
    font-size: 53px;
    color: black;
font-family: 'Roboto', sans-serif;
}
.header2 h2
{
    color: #A0A0A0;
    font-size: 24px;
    font-weight: 400;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
.header2 p{
    font-weight: 400;
    /* font-family: roboto; */
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: black;
    text-transform: uppercase;
}
.header3
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.header3 .cards
{
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.header3 .cards img
{
    
    width: 100%;
}
.header3 .cards h1
{
    font-size: 37px;
    font-weight: 400;
    /* font-family: roboto; */
    text-align: center;
    color: black;
    padding: 20px 0px;
    font-family: 'Roboto', sans-serif;
}
.header3 .cards a
{
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.section
{
    margin-top: 100px;
}
.section h1
{
    font-weight: 400;
    font-size: 43px;
    text-align: center;
    color: black;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
.section h2
{
    color: #A0A0A0;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
font-family: 'Roboto', sans-serif;

}
.rectangle
{
    width: 8%;
    margin:30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rectangle1
{
    width: 10px;
    height: 10px;
    background: #000;
    margin: 5px;
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section2-cards
{
    width: 23%;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.section2-cards h1
{
    font-style: 18px;
    color: #A0A0A0;
    padding: 10px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.section2-cards p{
    color: #A0A0A0;
    font-size: 18px;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
}
.section3
{
    background: url(img/section3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
}
.section3-ichi
{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.section3-ichi h1
{
    font-weight: 400;
    font-size: 70px;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
.section3-ichi h2
{
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.section3-ichi a
{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.section4
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 h1
{
    font-weight: 400;
    text-align: center;
    color: black;
    font-size: 34px;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.section4 p
{
    text-align: center;
    color: #A0A0A0;
    font-weight: 400;
    font-size: 16px;
    padding: 40px 0px;
    width: 777px;
    font-family: 'Roboto', sans-serif;
}
.rasmlar
{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 13px;
}
.rasmlar img
{
    width: 16%;
}
.section5
{
    text-align: center;
    padding: 40px;
    margin-top: 20px;
font-family: 'Roboto', sans-serif;
}
.section5 a
{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.section5 h1
{
    font-weight: 400;
    color: black;
    font-size: 36px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.section6
{
    width: 95%;
    margin: 30px auto;
    background: #9AA8B1;
    height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section6 h1
{
    font-weight: 400;
    font-size: 43px;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.section6 p
{
    color: white;
    font-size: 16px;
    text-align: center;
    width: 481px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.section7
{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background: #fbfbfb;
    position: relative;
}
.sec7 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec7 a
{
    text-decoration: none;
    font-weight: 400;
    font-size: 23px;
    color: black;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.sec7 h1{
    font-weight: 400;
    font-size: 22px;
    color: black;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.sec7 p
{
    color: #A0A0A0;
    font-weight: 400;
    font-size: 14px;
    width: 348px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.sec7 .hr
{
    color: black;
    background: #000;
    width: 348px;
    height: 1px;
}
.section7 .goUp{
    width: 80px;
    height: 82px;
    background: #000;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 28px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.footer
{
    width: 95%;
    display: flex;
    justify-content: end;
}
.foot{
    width: 40%;
    padding: 40px 0px;
}
.foot a{
    color: #707A7F;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}